:root {
  --background: #{$dark};
  --background-base: #{$dark-base};
}

// Font 

@import url('https://fonts.googleapis.com/css?family=Bai%20Jamjuree');

body {
  @include font-size-base;
  font-family: $font-base-family;
  background: var(--background);
}

// Light SVG

.light-svg {
  filter: invert(100%) sepia(71%) saturate(0%) hue-rotate(206deg) brightness(106%) contrast(107%);
}

// Background color

.bg-blue-light {
  background-color: $blue-light;
}

.bg-blue {
  background-color: $blue;
}

.bg-dark-base {
  background-color: $dark-base;
}

.cursor {
  cursor: pointer;
}
