// Button
.btn-gray {
  background-color: $gray-light;
  border-color: $gray-light;
  &:focus {
    background-color: $gray-light;
    border-color: $gray-light;
  }
  &:hover {
    background-color: $gray-light;
    border-color: $gray-light;
  }
}

.btn-blue {
  background-color: $blue;
  border-color: $blue;
  &:focus {
    background-color: $blue;
    border-color: $blue;
  }
  &:hover {
    background-color: $blue;
    border-color: $blue;
  }
}

.btn-search {
  background-color: $dark-base;
  border: 1px #{$dark-base};
  color: $white;
}
